
.dl{
  margin-top: 20%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: 27%;
} 

.main-text {
  width: 450px;
  text-align: justify;
}

.label {
  
  margin-right: 15px;
}

.label-input-pair {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  width: 600px;
  padding: 30px;
}

.main-input {
  padding: 0 4px;
  height: 36px;
  color: rgba(252, 166, 97, 1);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.main-button {
  margin-top: 38px;
  font-size: 2rem;
  color: #040000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  box-sizing: border-box;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-weight: 500px;
  position: relative;
  outline: none;
  gap: 8px;
  height: 50px;
  user-select: none;
  padding: 16px 25px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-button:hover {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

